/* Logo */

#my-name .char1 {
	color: #fff;
}

#my-name .char2 {
	color: #fff;
}

#my-name .char3 {
	color: #AFFED7;
	font-weight: bold;
}


/* Tag Line */

.hello {
	color: white;
}

.julie {
	color: #E80C7A;
}

.heart {
	color: mistyRose;
}

.seattle {
	color: #FFF4B6;
}


/* Block Styling */

hr {
	border-color: inherit;
}

#twitter-block {
	background-color: #AFFED7;
}

#twitter-block a {
	color: navy;
}

#linkedin-block {
	background-color: darkBlue;
}

#linkedin-block a {
	color: #5bc0de;
}

#email-block {
	background-color: #E80C7A;
}

#email-block a {
	color: mistyRose;
}

#github-block {
	background-color: #FFF4B6;
}

#github-block a {
	color: black;
}

#compactia-block-main .front {
	background-color: darkGray;
}

#compactia-block-main .back {
	background-color: white;
}

#explor-block-main .front {
	background-color: #FFF4B6;
}

#explor-block-main .back {
	background-color: navy;
	color: #428BCA;
}

#pennypost-block .front {
	background-color: black;
	color: white;
}

#pennypost-block .back {
	background-color: white;
}

#fitbuddi-block .front {
	background-color: #AFFED7;
	color: navy;
}

#fitbuddi-block .back {
	background-color: white;
}

#clowder-block .front {
	background-color: silver;
	color: #6D3078;
}

#clowder-block .back {
	background-color: white;
}

#cangular-block .front {
	background-color: #E80C7A;
	color: mistyRose;
}

#cangular-block .back {
	background-color: white;
}

#explor-block .front {
	background-color: navy;
	color: #428BCA;
}

#explor-block .back {
	background-color: white;
}

#compactia-block .front {
	background-color: white;
	color: black;
}

#compactia-block .back {
	background-color: white;
}

#twitch-block .front {
	background-color: #6D3078;
	color: white;
}

#twitch-block .back {
	background-color: white;
}

#triple-block .front {
	background-color: #F5923D;
	color: #FFF4B6;
}

#triple-block .back {
	background-color: white;
}

#sortit-block .front {
	background-color: #FFF4B6;
	color: #428BCA;
}

#sortit-block .back {
	background-color: white;
}

#embaussed-block .front {
	background-color: #5bc0de;
	color: #AFFED7;
}

#embaussed-block .back {
	background-color: white;
}

#reference-block .front {
	background-color: white;
}

#reference-block .back {
	background-color: silver;
}

/* Typography */

#tag-title {
	color: #E80C7A;
}

#tag-text {
	color: black;
}

#sub-text {
	color: black;
}