/* General */

body {
	background-color: silver;
	font-family: 'Istok Web', sans-serif;
}

h1 {
	color: white;
	font-family: 'Droid Serif', serif;
}

div, button {
  border-radius: 0 !important;
}

.row { /* Bootstrap row fix */
	margin: 0;
	background-color: #ccc;
}

/* TurnBlock */

.turnBlock {
	cursor: pointer;
	margin: 5px;
}

.turnBlock .front {
	background-color: blue;
}

.turnBlock .back {
	background-color: teal;
}


/* Logo */

#my-name .char1 {
	color: #fff;
}

#my-name .char2 {
	color: #fff;
}

#my-name .char3 {
	color: #AFFED7;
	font-weight: bold;
}


/* Navbar & Navigation Menu */

nav {
	padding-top: 30px;
}

.nav {
	margin-bottom: 45px;
}

.navbar-brand {
	font-family: 'Droid Serif', serif;
	color: white;
	padding: 9px;
	font-size: 32px;
	line-height: 32px;
}

.navbar li {
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
	text-align: center;
}

.navbar li a {
	color: black;
	transition: background-color 200ms linear;
}



.icon-bar { /* Show hamburger icon on smaller devices */
	border: solid 1px #fff;
}

.navbar li.about-link a:hover {
	background-color: #FFF4B6;
	color: black;
}

.navbar li.work-link a:hover {
	background-color: #E80C7A;
	color: mistyRose;
}

.navbar li.contact-link a:hover {
	background-color: #AFFED7;
	color: navy;
}


/* Grid Blocks */

.block {
	min-height: 250px;
	background-color: transparent;
/*	border: solid 5px #ccc;*/
	text-align: center;
	line-height: 250px;
	vertical-align: middle;
	animation-duration: 500ms;
  	animation-delay: 500ms;
  	padding: 0px;
}

.social-block {
	height: 129px;
	background-color: pink;
	border: solid 5px #ccc;
	animation-duration: 500ms;
  	animation-delay: 500ms;
  	vertical-align: middle;
  	line-height: 125px;
  	text-align: center;
  	font-size: 32px;
}

.social-container {
	padding: 0;
}

/* Block Styling */

#twitter-block {
	background-color: #AFFED7;
}

#twitter-block a {
	color: navy;
}

#linkedin-block {
	background-color: darkBlue;
}

#email-block {
	background-color: #E80C7A;
}

#email-block a {
	color: mistyRose;
}

#github-block {
	background-color: #FFF4B6;
}

#github-block a {
	color: black;
}

/* Tag Line */

#tag-line {
	padding: 5px;
	background-color: transparent;
	color: white;
	line-height: inherit;
	font-size: 48px;
	text-align: left;
	font-family: 'Droid Serif', serif;
	min-height: 250px;
}

.hello {
	color: white;
}

.julie {
	color: lightPink;
}

.seattle {
	color: #FFF4B6;
}


/* Components */

legend {
	color: white;
	font-family: 'Droid Serif', serif;
}

.divider {
	padding: 5px;
}

.btn {
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 1px;
	border-bottom: solid 1px darkGray;
	font-size: 14px;
}

.icon {
	font-size: 80%;
}


/* Portfolio Filter Controls */

button.filter {
	background-color: silver;
	border: none;
	color: white;
	font-size: 14px;
	border-radius: 10px !important;
	font-weight: 500;
	outline: none;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	margin: 1px 0px;
}

button.filter:hover {
	background-color: darkGray;
}

button.filter.active{
  background: darkGray;
}

.controls {
	min-height: 60px;
}


/* Footer */

footer {
	height: 150px;
	line-height: 50px;
	font-size: 12px;
	background-color: silver;
	color: #f1f1f1;
}

.footer {
	height: 100px;
	background-color: silver;
}

section::before,
section::after { /* Common style for pseudo-elements */
	position: absolute;
	content: '';
	pointer-events: none;
}

#trianglePath1 { /* Big triangle with shadow */
	fill: #ccc;
	stroke: #ccc;
} 

#trianglePath2 {
	fill: darkGray;
	stroke: darkGray;
}


/* Mix It Up */

#Container .mix {
	display: none;
}


/* Typed JS cursor */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}