/* General */

body {
	background-color: silver;
	font-family: 'Istok Web', sans-serif;
}

h1 {
	color: white;
	font-family: 'Droid Serif', serif;
}

div, button {
  border-radius: 0 !important;
}

.row { /* Bootstrap row fix */
	margin: 0;
	background-color: #ccc;
}

svg path {
    fill: currentColor;
}

a:hover {
	opacity: .75 !important;
}

a {
	color: white;
	font-weight: bold;
}

a:hover {
	color: #6D3078;
	font-weight: bold;
	text-decoration: none;
}


/* Navbar & Navigation Menu */

a#my-name {
	font-weight: normal;
}

a#my-name: hover {
	font-weight: normal;
}

nav {
	padding-top: 30px;
}

.nav {
	margin-bottom: 45px;
}

.navbar-brand {
	font-family: 'Droid Serif', serif;
	color: white;
	padding: 9px;
	font-size: 32px;
	line-height: 32px;
}

.navbar li {
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
	text-align: center;
}

.navbar li a {
	color: black;
	font-weight: normal;
	transition: background-color 200ms linear;
}

.icon-bar { /* Show hamburger icon on smaller devices */
	border: solid 1px #fff;
}

.navbar li.about-link a:hover {
	background-color: #FFF4B6;
	font-weight: normal;
	color: black;
}

.navbar li.work-link a:hover {
	background-color: #E80C7A;
	font-weight: normal;
	color: mistyRose;
}

.navbar li.contact-link a:hover {
	background-color: #AFFED7;
	font-weight: normal; 
	color: navy;
}


/* Grid Blocks */

.block {
	min-height: 250px;
	background-color: transparent;
/*	border: solid 5px #ccc;*/
	text-align: center;
  	padding: 0px;
	animation-duration: 500ms;
  	animation-delay: 500ms;
}

.icon-block {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.social-block {
	height: 129px;
	background-color: mistyRose;
	border: solid 5px #ccc;
  	vertical-align: middle;
  	line-height: 125px;
  	text-align: center;
  	font-size: 32px;
	animation-duration: 500ms;
  	animation-delay: 500ms;
}

.social-container {
	padding: 0;
}

#reference-block {
	text-align: center;
}

.quote {
	font-family: 'Droid Serif', serif;
	display: inline-block;
	padding: 30px;
	position: relative;
  	top: 50%;
  	font-style: italic;
  	transform: translateY(-50%);
}

blockquote footer {
	font-family: 'Istok Web', sans-serif;
	font-style: normal;
}

/* TurnBlock */

.turnBlock {
	cursor: pointer;
	margin: 5px;
}

.turnBoxButton {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


/* Tag Line */

#tag-line {
	padding: 5px;
	background-color: transparent;
	color: white;
	line-height: inherit;
	font-size: 48px;
	text-align: left;
	font-family: 'Droid Serif', serif;
	min-height: 250px;
}


/* Components */

legend {
	color: white;
	font-family: 'Droid Serif', serif;
	margin: 15px 0px 45px 0px;
}

.divider {
	padding: 5px;
}

.btn {
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 1px;
	border-bottom: solid 1px darkGray;
	font-size: 14px;
}

.btn:hover {
	color: #FFF4B6;
}

.icon {
	width: 64px;
	height: 64px;
	display: inline-block;
}

.icon-label {
	display: inline-block;
	font-size: 32px;
	vertical-align: bottom;
	padding-top: 15px;
	line-height: 64px;
}

#submit-button {
	margin-top: 30px;
}

/* Portfolio Filter Controls */

button.filter {
	background-color: darkGray;
	border: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px !important;
	outline: none;
	padding: 3px 6px 3px 6px;
	margin: 1px 0px;
}

button.filter:hover {
	background-color: #6D3078;
}

button.filter.active{
  background: #E80C7A;
}

.controls {
	min-height: 60px;
	margin-bottom: 15px;
}

.form-label {
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
}

/* Portfolio Project Stuff */

.project-desc {
	padding: 30px;
	font-size: 18px;
	text-align: justify;
}


/* Footer */

.footer2 {
	height: 150px;
	line-height: 50px;
	font-size: 12px;
	background-color: silver;
	color: #f1f1f1;
}

.footer {
	height: 100px;
	background-color: silver;
}


section::before,
section::after { /* Common style for pseudo-elements */
	position: absolute;
	content: '';
	pointer-events: none;
}

#trianglePath1 { /* Big triangle with shadow */
	fill: #ccc;
	stroke: #ccc;
} 

#trianglePath2 {
	fill: darkGray;
	stroke: darkGray;
}


/* Mix It Up */

#Container .mix {
	display: none;
}


/* Typed JS cursor */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}