<div class="row">
	<div class="col-sm-12 divider">
		<legend>About Me</legend>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h1 class="text-left" id="tag-title">I love the web.</h1>
		<h2 class="text-left" id="tag-text">
			As a child growing up in the digital age, I felt that every website I visited had the power to transport me to another world.
		</h2>
	</div>
	<div class="col-sm-6">
		<h4 class="text-left" id="sub-text">
			<strong>
				A good website had me coming back for days. A <em>great</em> website had me coming back for <em>weeks</em>. You know the ones I'm talking about. The true gems of the internet that met in the middle between purpose, utility, and overall design. Needless to say, those are the kinds of experiences that I want to create. Now, I'm on a mission, to bring those types of experiences to users everywhere.
			</strong>
		</h4>
		<hr style="width: 25%; border: solid 3px">
	</div>
</div>
<div class="row" style="height: 60px"></div>
<div class="row">
	<div class="col-sm-12 divider">
		<legend>What I do</legend>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-4 dev-image">
		<img src="img/web.png" class="center-block" style="opacity: .75">
		<h3>Web Development</h3>
		<ul class="text-left">
			<li><i class="fa fa-check"></i>Ruby on Rails</li>
			<li><i class="fa fa-check"></i>Node.js/Express.js</li>
		</ul>
	</div>
	<div class="col-sm-4 dev-image">
		<img src="img/mobile.png" class="center-block" style="opacity: .75">
		<h3>Hybrid Apps</h3>
		<ul class="text-left">
			<li><i class="fa fa-check"></i> Ionic</li>
			<li><i class="fa fa-check"></i>Cordova</li>
		</ul>
	</div>
	<div class="col-sm-4 dev-image">
		<img src="img/ui.png" class="center-block" style="opacity: .75">
		<h3>UI Development</h3>
		<ul class="text-left">
			<li><i class="fa fa-check"></i>XML</li>
			<li><i class="fa fa-check"></i>Angular.js</li>
		</ul>
	</div>
</div>
<div class="row" style="height: 60px"></div>
<div class="row">
	<div class="col-sm-12 divider">
		<legend>My Skills</legend>
	</div>
</div>
<div class="row">
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Languages</h4>
		<p class="list-group-item-text">
			XML, CSS3, HTML5, SQL, Ruby, JavaScript
		</p>
	</div>
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Frameworks</h4>
		<p class="list-group-item-text">Rspec, Chai, Mocha, Cordova, Ionic, React, Angular, Rails, Express, Node</p>
	</div>
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Libraries</h4>
		<p class="list-group-item-text">Fullpage, Bootstrap, Bcrypt, D3, Passport, jQuery</p>
	</div>
</div>
<div class="row">
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Databases</h4>
		<p class="list-group-item-text">NoSQL, ActiveRecord, Mongoose, MongoDB, Sequelize, PostgreSQL</p>
	</div>
<!-- 		<div class="list-group col-sm-4">
		<h4 class="list-group-item-heading">CMS</h4>
		<p class="list-group-item-text">Jekyll, MoveableType, WordPress, Drupal</p>
	</div> -->
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Design</h4>
		<p class="list-group-item-text">Animations, Web Fonts, Typefaces, Skinning, Image Manipulation, Color Theory,  Adobe Illustrator, Adobe Photoshop</p>
	</div>
	<div class="list-group col-sm-4 skills">
		<h4 class="list-group-item-heading form-label">Other</h4>
		<p class="list-group-item-text">Kanban, Agile, JWT, TDD, JSON, AJAX, Sessions, Authentication, Encryption, RESTful Routing</p>
	</div>
</div>