<div class="sample col-sm-10">
  <div class="turnBoxButton front">front</div>
  <div class="turnBoxButton back turnBoxButtonPrev">back</div>
</div>
<div class="row">
	<div id="tag-line" class="col-sm-12">
		<div class="tag-line">
			<div id="typed-strings">
			    <p>
			    	Hello,^1000 my name is <span class="julie">Julie &#9825</span><br>
			    	^1000I'm a Full Stack Developer based in <span class='seattle'>Seattle</span>
			    </p>
			</div>
			<span id="typed"></span>
		</div>
		<button class="btn">Learn More</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 block">
		Compactia
	</div>
	<div class="col-sm-4 block">
		Explor
	</div>
	<div class="col-sm-4 block">
		<div class="icon icon-basic-elaboration-document-download"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="social-block col-xs-6">
				Linkedin
			</div>
			<div class="social-block col-xs-6">
				Twitter
			</div>
		</div>
		<div class="row">
			<div class="social-block col-xs-6">
				Email
			</div>
			<div class="social-block col-xs-6">
				Github
			</div>
		</div>
	</div>
	<div class="col-sm-8 block">
		Recommendations Tabs
	</div>
</div>
<div class="row social-container">
	<div class="col-sm-4 block">
		Contact Form
	</div>
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="col-sm-12 social-block">
			Sublime Themes
			</div>
		</div>
	</div>
</div>