<!-- <div class="turnBlock col-sm-10">
  <div class="turnBoxButton front">front</div>
  <div class="turnBoxButton back turnBoxButtonPrev">back</div>
</div> -->
<div class="row">
	<div id="tag-line" class="col-sm-12">
		<div class="tag-line">
			<div id="typed-strings">
			    <p>
			    	Hello,^1000 my name is <span class="julie">Julie^200</span> <span class="heart">&#9825</span><br>
			    	^1000I'm a Full Stack Developer based in <span class='seattle'>Seattle.</span>
			    </p>
			</div>
			<span id="typed"></span>
		</div>
		<a href="/#!/about"><button class="btn">Learn More</button></a>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 block">
		<div class="turnBlock" id="compactia-block-main">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
					<img class="icon" src="img/notebook.svg"></img>
				</div>
  			</div>
  			<div class="turnBoxButton back turnBoxButtonPrev">
  				<div class="icon-block">
  					<img class="icon" src="img/notebook.svg"></img>
					<div class="icon-label">Compactia</div>
					<h4>A compact RPG manager</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-sm-4 block">
		<div class="turnBlock" id="explor-block-main">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
					<img class="icon" src="img/world.svg"></img>
				</div>
  			</div>
  			<div class="turnBoxButton back turnBoxButtonPrev">
  				<div class="icon-block">
					<img class="icon" src="img/world.svg"></img>
					<div class="icon-label">Explor</div>
					<h4>Location-based need-to-know</h4>
					<hr style="width: 80%"></a>
				</div>
			</div>
  		</div>
	</div>
	<div class="col-sm-4 block">
		<div class="turnBlock">
  			<div class="turnBoxButton front">
				<div class="icon-block">
					<img class="icon" src="img/basic_server_download.svg"></img><br>
					<a href="http://juliesakalys.com/Julie-Sakalys-Resume.pdf" target="_blank">
						<button class="btn btn-info" style="margin-top: 25px">
							<span class="glyphicon glyphicon-save"></span>
							Download Resume
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="col-xs-6 social-block" id="twitter-block">
				<a href="http://twitter.com/juliesakalys"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-xs-6 social-block" id="linkedin-block">
				<a href="http://linkedin.com/in/jsakalys"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 social-block" id="email-block">
				<a href="mailto:hello@juliesakalys.com"><i class="fa fa-at"></i></a>
			</div>
			<div class="col-xs-6 social-block" id="github-block">
				<a href="http://github.com/jsakalys"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-8 block">
		<div class="turnBlock" id="reference-block">
  			<div class="turnBoxButton front turnBoxButtonNext">
  				<div class="quote">
					<blockquote>
					  <p>Julie is a natural software developer. I had the pleasure of working together with her on a group project, which included some mob programming, and was very impressed by her passion for coding and wealth of technical knowledge.</p>
					  <footer>Agustin Bautista, Full Stack Web Developer</footer>
					</blockquote>
  				</div>
  			</div>
  			<div class="turnBoxButton back turnBoxButtonNext">
  				<div class="quote">
					<blockquote>
					  <p>Julie is hard working and has a clear drive to keep learning and growing her skills. She's particularly talented at breaking down complex technical topics and making them easy to understand.</p>
					  <footer>Alison Park Douglas, UX Designer/Producer</footer>
					</blockquote>
  				</div>
			</div>
			<div class="turnBoxButton front turnBoxButtonNext">
				<div class="quote">
	  				<blockquote>
						  <p>I have worked with Julie on web development and design projects and find that she is very easy to work with, communicative, and a team player. Julie goes above and beyond to make awesome, creative applications and develop aesthetically pleasing web sites.</p>
						  <footer>Haylee Nighbert, Full Stack Web Developer</footer>
					</blockquote>
				</div>
  			</div>
		</div>
	</div>
</div>
<!-- <div class="row social-container">
	<div class="col-sm-4 block">
		Contact Form
	</div>
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="col-sm-12 social-block">
			Sublime Themes
			</div>
		</div>
	</div>
</div> -->