<!-- <div class="turnBlock col-sm-10">
  <div class="turnBoxButton front">front</div>
  <div class="turnBoxButton back turnBoxButtonPrev">back</div>
</div> -->
<div class="row">
	<div id="tag-line" class="col-sm-12">
		<div class="tag-line">
			<div id="typed-strings">
			    <p>
			    	Hello,^1000 my name is <span class="julie">Julie &#9825</span><br>
			    	^1000I'm a Full Stack Developer based in <span class='seattle'>Seattle</span>
			    </p>
			</div>
			<span id="typed"></span>
		</div>
		<button class="btn">Learn More</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 block">
		<div class="turnBlock" id="compactia-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
					<img class="icon" src="img/notebook.svg"></img>
					<div class="icon-label">Compactia</div>
				</div>
  			</div>
  			<div class="turnBoxButton back turnBoxButtonPrev">back</div>
  		</div>
	</div>
	<div class="col-sm-4 block">
		<div class="turnBlock" id="explor-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
					<img class="icon" src="img/basic_globe.svg"></img>
					<div class="icon-label">Explor</div>
				</div>
  			</div>
  			<div class="turnBoxButton back turnBoxButtonPrev">back</div>
  		</div>
	</div>
	<div class="col-sm-4 block">
		<div class="turnBlock">
  			<div class="turnBoxButton front">
				<div class="icon-block">
					<img class="icon" src="img/basic_server_download.svg"></img>
					<div class="icon-label">Download Resume</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="col-xs-6 social-block" id="twitter-block">
				<a href="http://twitter.com/juliesakalys"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-xs-6 social-block" id="linkedin-block">
				<a href="http://linkedin.com/in/jsakalys"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 social-block" id="email-block">
				<a href="mailto:hello@juliesakalys.com"><i class="fa fa-at"></i></a>
			</div>
			<div class="col-xs-6 social-block" id="github-block">
				<a href="http://github.com/jsakalys"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-8 block">
		<div class="turnBlock">
  			<div class="turnBoxButton front">front</div>
  			<div class="turnBoxButton back turnBoxButtonPrev">back</div>
		</div>
	</div>
</div>
<div class="row social-container">
	<div class="col-sm-4 block">
		Contact Form
	</div>
	<div class="col-sm-4 social-container">
		<div class="row">
			<div class="col-sm-12 social-block">
			Sublime Themes
			</div>
		</div>
	</div>
</div>