<div class="row">
	<div class="col-sm-12 divider">
		<legend>My stuff</legend>
	</div>
	<div class="col-sm-12 divider controls">
		<button class="filter" data-filter="all">View All</button>
		<label>Type:</label>
		<button class="filter" data-filter=".category-11">App</button>
		<button class="filter" data-filter=".category-12">Game</button>
		<button class="filter" data-filter=".category-13">Skin</button>

		<label>Technology:</label>
		<button class="filter" data-filter=".category-21">Angular.js</button>
		<button class="filter" data-filter=".category-22">Ionic/Cordova</button>
		<button class="filter" data-filter=".category-23">Node.js</button>
		<button class="filter" data-filter=".category-24">Ruby on Rails</button>
		<button class="filter" data-filter=".category-25">React Native</button>

		<label>Other:</label>
		<button class="filter" data-filter=".category-31">Collaboration</button>
		<button class="filter" data-filter=".category-32">Responsive Design</button>
		<button class="filter" data-filter=".category-32">User Interfacing</button>

		<label>Sort:</label>
		<button class="sort" data-sort="myorder:asc">Newest</button>
		<button class="sort" data-sort="myorder:desc">Oldest</button>
	</div>
</div>
<div id="Container">
		<div class="col-sm-4 block mix category-11 category-12 category-21 category-22" data-myorder="1">
			FitBuddi
		</div>
		<div class="col-sm-4 block mix category-11 category-21" data-myorder="2">
			Cangular
		</div>
		<div class="col-sm-4 block mix category-11 category-24 category-31" data-myorder="3">
			Explor
		</div>
		<div class="col-sm-4 block mix category-11 category-24 category-25 category-31 category-32" data-myorder="4">
			Clowder
		</div>
		<div class="col-sm-4 block mix category-11 category-23 category-32" data-myorder="5">
			Compactia
		</div>
		<div class="col-sm-4 block mix category-12" data-myorder="6">
			Triple Triad
		</div>
		<div class="col-sm-4 block mix category-12" data-myorder="7">
			Sort it! Seattle
		</div>
		<div class="col-sm-4 block mix category-13 category-32" data-myorder="8">
			Embaussed
		</div>
</div>