<div class="row">
	<div class="col-sm-12 divider">
		<legend>Selected Works</legend>
	</div>
	<div class="col-sm-8 divider controls">
		<label>Filter:</label>

		<button class="filter" data-filter="all">All</button>
		<button class="filter" data-filter=".category-11">Apps</button>
		<button class="filter" data-filter=".category-12">Games</button>
		<button class="filter" data-filter=".category-13">Skins</button>

		<button class="filter" data-filter=".category-21">Angular.js</button>
		<button class="filter" data-filter=".category-22">Ionic/Cordova</button>
		<button class="filter" data-filter=".category-23">Node.js</button>
		<button class="filter" data-filter=".category-24">Ruby on Rails</button>

		<button class="filter" data-filter=".category-31">Collaboration</button>
		<button class="filter" data-filter=".category-32">Responsive</button>
		<button class="filter" data-filter=".category-33">UI Design</button>
	</div>
	<div class="col-sm-4 divider controls">
		<label>Sort:</label>
		<button class="sort filter" data-sort="myorder:asc">Newest</button>
		<button class="sort filter" data-sort="myorder:desc">Oldest</button>
	</div>
</div>
<div mixitup id="Container" class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-21 category-22 category-23 category-31 category-32" data-myorder="0">
		<div class="turnBlock" id="pennypost-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/basic_postcard.svg"></img>
					<div class="icon-label">Pennypost</div>
					<h4>Send postcards with Instagram</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>Pennypost
  					  	<small>
							<i class="devicons devicons-ionic"></i>
							<i class="devicons devicons-angular"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-nodejs_small"></i>
						</small>
  					</h3>
  					<p>
						Pennypost is a startup due to launch in the next few months. As part of a team of more than 12 developers, designers, and UX researchers, I am primarily contributing to back end integration with the Facebook Graph API.
					</p>
					<p class="text-muted">
						<i class="fa fa-users"></i> Collaboration
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-12 category-21 category-22 category-32" data-myorder="1">
		<div class="turnBlock" id="fitbuddi-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/gym.svg"></img>
					<div class="icon-label">FitBuddi</div>
					<h4>A virtual fitness companion</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						FitBuddi
  						<small>
							<i class="devicons devicons-ionic"></i>
							<i class="devicons devicons-angular"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-sass"></i>
							<i class="devicons devicons-firebase"></i>
							<i class="devicons devicons-android"></i>
						</small>
						<p class="pull-right">
							<a href="http://github.com/jsakalys/fitbuddi#readme" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/fitbuddi" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						FitBuddi is a virtual pet app that doubles as a fitness companion. Based on how many steps you take in a day, your fitBuddi's health will be high or low, giving users a visual representation of their own condition.
					</p>
					<p class="text-muted">
						<i class="fa fa-mobile"></i> Hybrid App
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-24 category-31" data-myorder="2">
		<div class="turnBlock" id="explor-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/world.svg"></img>
					<div class="icon-label">Explor</div>
					<h4>Location-based need-to-know</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Explor
  						<small>
							<i class="devicons devicons-ruby"></i>
							<i class="devicons devicons-ruby_on_rails"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-postgresql"></i>
							<i class="devicons devicons-heroku"></i>
						</small>
						<p class="pull-right">
							<a href="http://explor.herokuapp.com" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/explor-group-app" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Explor is a concept travel app that lets a user enter a location and receive all the need-to-know about its locality, including weather, places to eat, cultural sites, and nightlife. It was developed by myself, <a href="http://agustinbautista.com" target="_blank">Agustin Bautista</a>, and <a href="http://brittanybrassell.com" target="_blank">Brittany Brassell</a>.
					</p>
					<p class="text-muted">
						<i class="fa fa-users"></i> Collaboration
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-23 category-32" data-myorder="3">
		<div class="turnBlock" id="compactia-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/notebook.svg"></img>
					<div class="icon-label">Compactia</div>
					<h4>A compact RPG manager</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Compactia
						<small>
							<i class="devicons devicons-nodejs_small"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-postgresql"></i>
							<i class="devicons devicons-heroku"></i>
						</small>
						<p class="pull-right">
							<a href="http://compactia.herokuapp.com" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/compactia" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Compactia was designed to be a project management app for table-top role players and story gamers. My goal is to one day make it a one-stop shop for campaign management.
					</p>
					<p class="text-muted">
						<i class="devicons devicons-responsive"></i> Responsive Design
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-24 category-25 category-31 category-32" data-myorder="4">
		<div class="turnBlock" id="clowder-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/map-2.svg"></img>
					<div class="icon-label">Clowder</div>
					<h4>A multi-location event tracker</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Clowder
						<small>
							<i class="devicons devicons-ruby"></i>
							<i class="devicons devicons-ruby_on_rails"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-postgresql"></i>
							<i class="devicons devicons-heroku"></i>
						</small>
						<p class="pull-right">
							<a href="http://github.com/aralawrence/fb_hackathon#readme" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/aralawrence/fb_hackathon" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Clowder is a multi-location event planning app that was developed overnight at the Facebook Women Student Hackathon by myself, <a href="http://aralawrence.com" target="_blank">Ara Lawrence</a>, <a href="http://alisonparkdouglas.com" target="_blank">Alison Park Douglas</a>, and a Seattle U. MSCS Candidate.
					</p>
					<p class="text-muted">
						<i class="fa fa-trophy"></i> 'Most Technical Product'
					</p>
					<p class="text-muted">
						<i class="fa fa-users"></i> Collaboration
					</p>
<!-- 					<p class="text-muted">
						<i class="devicons devicons-responsive"></i> Responsive Design
					</p> -->
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-11 category-21" data-myorder="5">
		<div class="turnBlock" id="cangular-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/compass.svg"></img>
					<div class="icon-label">Cangular</div>
					<h4>Canada meets AngularJS</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Cangular
  						<small>
							<i class="devicons devicons-angular"></i>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
						</small>
						<p class="pull-right">
							<a href="http://jsakalys.github.io/CANgular" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/cangular" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Cangular is a one-pager built with Angular that teaches you all about the different cities of Canada.
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-13 category-33" data-myorder="6">
		<div class="turnBlock" id="twitch-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/headphones.svg"></img>
					<div class="icon-label">Twitch Trends</div>
					<h4>Real-time viewership trends in Twitch</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Twitch Trends
  						<small>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-javascript"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-github"></i>
						</small>
						<p class="pull-right">
							<a href="http://jsakalys.github.io/twitch-trends" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/twitch-trends#readme" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Twitch Trends is a one-pager I whipped up using D3.js to visualize real-time viewership trends in Twitch. It queries the Twitch API for the top 5 streams in several categories and displays them in proportion to their respective viewership.
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-13 category-33" data-myorder="7">
		<div class="turnBlock" id="embaussed-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/video.svg"></img>
					<div class="icon-label">Embaussed</div>
					<h4>A skin for Kodi Media Center</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Embaussed
  						<p class="pull-right">
							<a href="http://github.com/jsakalys/skin-embaussed#readme" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/skin-embaussed" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Embaussed is a skin that I designed for Kodi Media Center. It sports a minimal, transparent UI that allows users to showcase their media collection. It is currently in development and will be released later this year.
					</p>
					<p class="text-muted">
						<i class="fa fa-paint-brush"></i> UI Design
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-12" data-myorder="8">
		<div class="turnBlock" id="triple-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/albums.svg"></img>
					<div class="icon-label">Triple Triad</div>
					<h4>The card game from FFVIII</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Triple Triad
	  					<small>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-javascript"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-jquery_ui"></i>
							<i class="devicons devicons-github"></i>
						</small>
						<p class="pull-right">
							<a href="http://jsakalys.github.io/triple-triad" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/triple-triad" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
					</h3>
  					<p>
						Triple Triad is a browser-based mockup of the popular two-player card game from the Final Fantasy video game series.
					</p>
				</div>
  			</div>
  		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block mix category-12" data-myorder="9">
		<div class="turnBlock" id="sortit-block">
  			<div class="turnBoxButton front">
  				<div class="icon-block">
  					<img class="icon" src="img/refresh-2.svg"></img>
					<div class="icon-label">Sort it! Seattle</div>
					<h4>A common recyclables game</h4>
					<hr style="width: 80%"></a>
				</div>
  			</div>
  			<div class="turnBoxButton turnBoxButtonPrev back">
  				<div class="project-desc">
  					<h3>
  						Sort it! Seattle
  						<small>
							<i class="devicons devicons-html5"></i>
							<i class="devicons devicons-css3_full"></i>
							<i class="devicons devicons-javascript"></i>
							<i class="devicons devicons-jquery"></i>
							<i class="devicons devicons-jquery_ui"></i>
							<i class="devicons devicons-github"></i>
						</small>
						<p class="pull-right">
							<a href="http://jsakalys.github.io/sortit-seattle" target="_blank"><i class="fa fa-globe"></i></a>
							<a href="http://github.com/jsakalys/sortit-seattle#readme" target="_blank"><i class="fa fa-code-fork"></i></a>
						</p>
  					</h3>
  					<p>
						Sort it! Seattle is a fun single-player game where the player must "race the clock" to sort all of the rubbish into the proper bin before the garbage collector arrives.
					</p>
				</div>
  			</div>
  		</div>
	</div>
</div>